@page
@model RegisterModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="row justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-md-5">
        <form class="mx-auto" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <br />
            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="name" />
                    <label asp-for="Input.Name">Name</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            
            
            <div id="Phone" class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phone number" aria-required="true" placeholder="Phone Number" />
                <label class="mx-2" asp-for="Input.PhoneNumber">Phone Number</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input id="searchInput" asp-for="Input.HomeAddress" class="form-control" autocomplete="street address" aria-required="true" placeholder="Street Address" />
                <ul id="placesList"></ul>
                <label class="mx-2" asp-for="Input.HomeAddress">Address</label>
                <span asp-validation-for="Input.HomeAddress" class="text-danger"></span>
            </div>


            <div class=" row form-floating mb-3">
               
                <div class="form-floating mb-3 col-md-4">
                    <input asp-for="Input.City" class="form-control " autocomplete="on" aria-required="true" placeholder="City" />
                    <label class="mx-2 " asp-for="Input.City">City</label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-4">
                    <input asp-for="Input.State" class="form-control" autocomplete="on" aria-required="true" placeholder="State" />
                    <label class="mx-2 " asp-for="Input.State">State</label>
                    <span asp-validation-for="Input.State" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-4">
                    <input asp-for="Input.PostalCode" class="form-control" autocomplete="on" aria-required="true" placeholder="Postal Code" />
                    <label class="mx-2" asp-for="Input.PostalCode">Postal Code</label>
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>
            </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

            <br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-danger">Register</button>
                <p style="display: inline-block;">Already have an account? </p>
                <a class="linkc" asp-area="Identity" asp-controller="Account" asp-action="Login" style="display: inline-block;">Log in</a>
            <br />
                <Center>
                    <blockquote>OR</blockquote>
                </Center>
            <br />
        </form>
    </div>
        <div class="col-md-4 offset-md-3">
            <img src="~/image/360ridenb.png" alt="image" class="img-fluid sideimage">
        </div>

        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>

        

    </div>
    
    <div class="col-md-6">
        
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
  @*   <script>
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var query = $(this).val();

                if (query.length >= 3) {
                    var apiUrl = `/Identity/Account/Register/GetPlaces`;

                    $.get(apiUrl, function (data) {
                        // Handle the data from the proxy API here
                        console.log(data);
                    });
                }
            });
        });
    </script> *@
}

        @section Styles{
            <style src="~/css/registerpage.css"></style>
        }